<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <table class="table table-striped table-hover table-bordered border-primary ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">Password</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            <% for(var i=0; i<dataTable.length; i++) {%>
                <tr>
                    <td>
                        <%= dataTable[i].id%>
                    </td>
                    <td>
                        <%= dataTable[i].firstName%>
                    </td>
                    <td>
                        <%= dataTable[i].lastName%>
                    </td>
                    <td>
                        <%= dataTable[i].address%>
                    </td>
                    <td>
                        <%= dataTable[i].password%>
                    </td>
                    
                    <td>
                        <a href="edit-crud?id=<%=dataTable[i].id%>" class="btn btn-primary">Edit</a>
                        <a href="delete-crud?id=<%=dataTable[i].id%>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% } %>




        </tbody>
    </table>
</body>

</html>